<div class="home">
  <div class="story">
    <h1>Loja de Suplementos</h1>
  </div>

  <section class="hero">
    <h2>Alcance seus objetivos de forma saudável!</h2>
    <p>Suplementos de qualidade para o seu desempenho.</p>
    <br />
    <a [routerLink]="['/produto']" class="cta-button">Veja nossos produtos</a>
  </section>
  <br />
  <br /><br />
  <section id="depoimentos" class="testimonials">
    <h2>O que nossos clientes dizem</h2>
    <blockquote>
      <p>"Os melhores suplementos que já experimentei! Recomendo!"</p>
      <footer>- João Silva</footer>
    </blockquote>
    <blockquote>
      <p>"Ótima qualidade e entrega rápida. Estou muito satisfeito!"</p>
      <footer>- Maria Oliveira</footer>
    </blockquote>
  </section>
</div>
